<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.night.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.night.api.okhttp.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".business.study.recite.NextReciteActivity"></activity>
        <activity android:name=".business.study.select.word.SelectWordActivity" />
        <activity android:name=".business.study.query.QueryWordActivity" />
        <activity android:name=".business.study.select.book.SelectBookActivity" />
        <activity android:name=".business.study.recite.ReciteActivity" />
        <activity android:name=".business.account.help.HelpCenterActivity" />
        <activity android:name=".business.account.security.SafetyCenterActivity" />
        <activity android:name=".business.account.personalization.PersonalPlanActivity" />
        <activity android:name=".business.account.information.PersonalInfoActivity" />
        <activity android:name=".business.startup.login.LoginActivity" />
        <activity android:name=".business.startup.guide.GuideActivity" />
        <activity android:name=".business.home.HomeActivity" />
        <activity android:name=".business.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>