<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.night.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.night.basecore.okhttp.MyApp">
        <activity android:name=".business.selectword.SelectWordActivity"></activity>
        <activity android:name=".business.queryword.QueryWordActivity" />
        <activity android:name=".business.selectbook.SelectBookActivity" />
        <activity android:name=".business.recite.ReciteActivity" />
        <activity android:name=".business.helpcenter.HelpCenterActivity" />
        <activity android:name=".business.safetycenter.SafetyCenterActivity" />
        <activity android:name=".business.personalplan.PersonalPlanActivity" />
        <activity android:name=".business.personalinfo.PersonalInfoActivity" />
        <activity android:name=".business.login.LoginActivity" />
        <activity android:name=".business.guide.GuideActivity" />
        <activity android:name=".business.home.HomeActivity" />
        <activity android:name=".business.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

</manifest>